:root {
  --black: #3a3941;
  --white: #f4f4f5;
  --darkBlue: #0217f5;
  --inputColor: #E2EAEC;
  --inputFocus: #a1b7fa;
  --labelColor1: #BEC0D8;
  --labelColor2: #9695B5;
  --labelColor3: #888D7C; }

*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  color: var(--black); }

::placeholder {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--labelColor3);
  font-family: 'Poppins'; }

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.form {
  width: 60%; }
  .form__progress-bar {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .form__progress-bar::before {
      content: '';
      background-color: var(--darkBlue);
      position: absolute;
      top: 25%;
      left: 0;
      width: 100%;
      min-height: 1px; }
  .form__step {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .form__step--number {
      border: 1.6px solid var(--darkBlue);
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      font-size: 1.3rem;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      z-index: 1;
      margin: 0rem -1px;
      background-color: var(--white);
      color: var(--darkBlue);
      font-weight: 500; }
    .form__step--value {
      font-size: 1.3rem;
      font-weight: 300;
      margin-top: .5rem; }
    .form__step:first-child {
      align-items: flex-start; }
    .form__step:last-child {
      align-items: flex-end; }
  .form__slider {
    margin: 2.5rem 0rem; }
  .form__slide {
    display: none; }
  .form__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: .5px; }
  .form__field {
    position: relative; }
  .form__label {
    display: none;
    color: var(--labelColor3);
    padding-left: 1rem;
    font-size: 1.2rem;
    width: 100%;
    position: absolute;
    top: 8px; }
  .form__input {
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    margin-top: 2.4rem;
    border-radius: 8px;
    background-color: var(--inputColor);
    position: relative; }
    .form__input:focus {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-color: #ffffff;
      border: none; }
      .form__input:focus:valid {
        border-bottom: 2px solid green; }
    .form__input:not(:placeholder-shown) + .form__label {
      display: block; }
  .form__grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem 2rem; }
  .form__grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem 2rem; }
  .form__button-contain {
    background-color: red;
    margin: 3rem 0rem 1rem; }
  .form__button {
    float: right;
    border: none;
    outline: none;
    padding: .6rem 1.8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-right: 3rem;
    background-color: var(--darkBlue);
    color: var(--white); }

.iti {
  display: block;
  width: 100%;
  margin-top: 2.4rem; }

.verify {
  background-image: url("./../icon/check.svg");
  background-size: cover;
  background-repeat: no-repeat; }
